[submodule "test_data/relicapgrid"]
	path = test_data/relicapgrid
	url = https://github.com/entsoe/relicapgrid
[submodule "vendor/pugixml"]
	path = vendor/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "vendor/qlever"]
	path = vendor/qlever
	# Haigutus fork carrying the libqlever-parser-injection patch (programmatic
	# index building + protocol datasets); re-pin to ad-freiburg/qlever once the
	# upstream PR is merged.
	url = https://github.com/Haigutus/qlever.git
	update = none
	shallow = true
